
<div id="appointmentModal" class="modal hidden">
    <div class="modal-content">
        <h3>Book Appointment</h3>

        <input type="date" id="apptDate" />

        <div id="quickViewSlots"></div>

        <button id="confirmBookingBtn">Confirm Booking</button>
    </div>
</div>
